.stories-grid {
  min-height: calc(100vh - 250px);
  overflow-x: hidden;
}

.stories-container {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.tab {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  
  &:hover:not(.tab-active) {
    background-color: hsl(var(--b2));
  }
}